<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Factură</title>
    <style>
        #tabl {
            border-collapse: collapse;
        }
        
        #tabl td,
        #tabl th {
            border: 1px solid black;
        }
        
        p {
            color: red
        }
        
        ;
    </style>
</head>

<body>
    <div class="logo">
        <h1><i class="fas fa-tshirt fa-xs"></i>NULL</h1>

    </div>
    <h1>Factură NULL Shop</h1>
    <p>Stimate domn
        <%-locals.utilizator.nume %>, aveți aici lista de produse achiziționate.</p>
    <table id="tabl">
        <thead>
            <tr>
                <th>Numar Produs</th>
                <th>Produs</th>
                <th>Preț</th>
                <th>Categorie</th>
                <th>Marime</th>
                <th>Culoare</th>
                <th>Materiale</th>
                <th>QR</th>


            </tr>
        </thead>

        <tbody>
            <% 
				var suma=0;
                var counter = 1;
				for (let prod of locals.produse) {
					suma+=parseFloat(prod.price);
					 %>
                <tr>
                    <td>
                        <%-counter%>
                    </td>
                    <td>
                        <%-  prod.name %>
                    </td>
                    <td>
                        <%-  prod.price %>
                    </td>
                    <td>
                        <%- prod.category%>
                    </td>
                    <td>
                        <%- prod.size%>
                    </td>
                    <td>
                        <%- prod.color%>
                    </td>
                    <td>
                        <%- prod.materials%>
                    </td>
                    <td><img src="<%- locals.protocol%><%- locals.domeniu %>/Resources/Images/qrcode/<%-  prod.id %>.png"></td>
                </tr>
                <%counter++; } %>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">Total:
                    <%- suma %>
                </td>
            </tr>
        </tfoot>
    </table>
</body>

</html>