<!DOCTYPE html>
<html lang="ro">

<head>
    <meta name="description" content="Cofetaria Dulcelind - utilizatori.">
    <meta name="keywords" content="cofetarie, Dulcelind, utilizatori">

    <title>Cofetăria Dulcelind - utilizatori</title>
    <%- include("../fragmente/head") %>
        <script type="text/javascript" src=/Resources/js/produse.js></script>
</head>

<body>
    <%- include("../fragmente/header") %>

        <main>
            <div class="maindivreg">
                <div class="content">
                    <div class="afisaj">
                        <h2>Events</h2>

                        <table id="useri">
                            <tr>
                                <th>id</th>
                                <th>Nume</th>
                                <th>Category</th>
                                <th>Indoor</th>
                                <th>Cost</th>
                                
                            </tr>

                            <% for (var i = 0; i < events.length; i++) { 
				
				%>
                                <tr>
                                    <td>
                                        <%= events[i].id %>
                                    </td>
                                    <td>
                                        <%= events[i].name %>
                                    </td>
                                    <td>
                                        <%= events[i].category %>
                                    </td>
                                    <td>
                                        <%= events[i].indoor %>
                                    </td>
                                    <td>
                                        <%= events[i].cost %>
                                    </td>
                                  
                                       
                                </tr>

                               
                                    <% } %>
                        </table>

                        <p>Adauga eveniment</p>
                        <form id="addEvent" method="post" action="/addEvent">
                            <label>
                                category: <input type="text" name="category" value="">
                            </label>
                            <label>
                                indoor: <input type="text" name="indoor" value="">
                            </label>
                            <label>
                                cost: <input type="text" name="cost" value="">
                            </label>
                            <label>
                                description: <input type="text" name="description" value="">
                            </label>
                            <label>
                                image: <input type="text" name="image" value="">
                            </label>
                            <label>
                                name: <input type="text" name="name" value="">
                            </label>
                            <label>
                                starting: <input type="text" name="starting" value="">
                            </label>

                            <input type="submit" value="Submit">
                        </form>

                        <p>Elimina eveniment</p>
                        <form id="deleteEvent" method="post" action="/deleteEvent">
                            <label>
                                id: <input type="text" name="id_event" value="">
                            </label>
                        

                            <input type="submit" value="Submit">
                        </form>
                    </div>
                </div>
            </div>
        </main>


        <%- include("../fragmente/footer") %>

</body>

</html>