<div id="galerie2" class="galerie">
    <div class="grid_3col">
        <%  let i = 1 
    for (let imag of locals.imagini){
        
        %>
            <figure>
                <picture>
                    <source srcset="/<%- imag.mic%>" media="(max-width:500px)" />
                    <source srcset="/<%- imag.medie%>" media="(max-width:1279px)" />

                    <img src="/<%- locals.cale + imag.cale_imagine%>" alt="<%- imag.descriere%>" title="<%- imag.titlu%>">
                </picture>
                <figcaption>
                    <%-imag.titlu%>
                </figcaption>
            </figure>
            <% i=i+1;
    if(i>12)
    break;} %>
    </div>

</div>